= form_for @merchant_child do |f|
  - if @merchant_child.errors.any?
    #error_explanation
      %h2= "#{pluralize(@merchant_child.errors.count, "error")} prohibited this merchant_child from being saved:"
      %ul
        - @merchant_child.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :name
    -#= f.text_field :merchant_per_id
    = f.collection_select :merchant_per_id,  MerchantPer.all, :id, :name
  .actions
    = f.submit 'Save'
