%h1 Listing merchant_children

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @merchant_children.each do |merchant_child|
    %tr
      %td= merchant_child.name
      %td= link_to 'Show', merchant_child
      %td= link_to 'Edit', edit_merchant_child_path(merchant_child)
      %td= link_to 'Destroy', merchant_child, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Merchant child', new_merchant_child_path
