
  <div id="details">
    <div class='row panel'>
      <div class='large-12 columns'>
        <div id="top">
            <h1>Editor</h1>
        </div>
      </div>
    </div>
  </div>
  <br><br>

<div class='row panel' id='income_container'>
  <div id="middle">
    <div class='large-12 columns'>
      <div id="new_incomes">
      </div>
    </div>
    <div class='large-12 columns'>
      <div id="list_incomes">
      </div>
    </div>
  </div>
</div>


<br>
<div class='row panel' id='expence_container'>
  <div id="bottom">
    <div class='large-12 columns'>
      <div id="new_expences">
      </div>
    </div>
    <div class='large-12 columns'>
      <div id="list_expences">
      </div>
    </div>

  </div>
</div>
