
{{#ifCond type 'reccuring'}}
  <li><strong>{{peridiocicy}}</strong> | <strong>{{rec_name}}</strong>
  {{#if fix_amount}}
    | <b>Fix Amount: </b>
    {{fix_amount}}
  {{/if}}

  {{#if range_from}}
    | <b>Range: </b>
    {{range_from}} - {{range_to}}
  {{/if}}
    <a href="#" class='button  secondary tiny radius' id='show_expence_details'>Edit</a></li>
{{/ifCond}}

{{#ifCond type 'merchant_list'}}
  <li><strong>{{list_item}}</strong>
  {{#if min_t}}
    | <b>Transication range</b>:
    {{min_t}} - {{max_t}}
  {{/if}}

  {{#if amount_from}}
    | <b>Amount range: </b>
    {{amount_from}} - {{amount_to}}
  {{/if}}
    <a href="#" class='button  secondary tiny radius' id='show_expence_details'>Edit</a></li>
{{/ifCond}}
