<form id="form_id" action="/income" method="post">
  <div class='row'>
    <div class='large-2 columns'>
      <select name="{{type}}" id="type">
        <option value="reccuring">Reccuring</option>
        <option value="merchant_list" selected>Merchant List</option>
      </select>
    </div>
    <div class='large-2 columns'>
    </div>
    <div class='merchant_list'>
      <div class='large-2 columns' id='ml'>
        <select size='4' class='height_auto' id='list_item' name='list_item'>
          <% MerchantPer.all.each_with_index do |hotel, index| %>

            <% if index ==1 %>
                <option selected><%= hotel.name%></option>
            <% else %>
                <option><%= hotel.name%></option>
            <% end %>
            
          <% end %>
        </select>
      </div>
      <div class='large-4 columns'>
        <div class='row'>
          <div class='large-12 columns'>
          <h3>Step</h3>
          </div>
        </div>
        <div class='row'>
          <div class='large-6 columns'>
            <input value="{{min_t}}" type="text" name="{{min_t}}" id="min_t" placeholder="Step" />
          </div>
          <div class='large-6 columns' style='display: none;'>
            <input value="100" type="text" name="{{max_t}}" id="max_t" placeholder="Max T" />
          </div>
        </div>
      </div>
    <div class='large-3 columns'>
      <div class='row'>
        <div class='large-12 columns'>
        <h3>Amount</h3>
        </div>
      </div>
      <div class='row'>
        <div class='large-6 columns'>
          <input value="{{amount_from}}" type="text" name="{{amount_from}}" id="amount_from" placeholder="From" />
        </div>
        <div class='large-6 columns'>
          <input value="{{amount_to}}" type="text" name="{{amount_to}}" id="amount_to" placeholder="To" />
        </div>
      </div>
      </div>
      <div class='large-1 columns left'>
        <button type="submit" class="button tiny radius">Submit</button>
      </div>
    </div>

    <div class='reccuring' style='display:none'>
      <div class='large-2 columns'>
        <select id='peridiocicy' name='peridiocicy'>
          <option value=''>Peridiocity</option>
          <option value='weekly'>Weekly</option>
          <option value='monthly'>Monthly</option>
        </select>
      </div>
      <div class='large-2 columns'>
        <input value="{{rec_name}}" type="text" name="{{rec_name}}" id="rec_name" placeholder="Name" />
      </div>
      <div class='large-2 columns'>
        <div class='row'>
          <div class='large-12 columns'>
            <select id='amount_type'>
              <option value='range'>Range</option>
              <option value='fix_amount'>Fixed Amount</option>
            </select>
          </div>
        </div>
      </div>
      <div class='large-3 columns'>
        <div class='row fix_amount' style='display:none'>
          <div class='large-12 columns'><input value="{{fix_amount}}" type="text" name="{{fix_amount}}" id="fix_amount" placeholder="Fix Amount" /></div>
        </div>

        <div class='row range_amount'>
          <div class='large-6 columns'>
            <input value="{{range_from}}" type="text" name="{{range_from}}" id="range_from" placeholder="Range from" /></div>
            <div class='large-6 columns'>
            <input value="{{range_to}}" type="text" name="{{range_to}}" id="range_to" placeholder="Range to"/></div>
        </div>

      </div>
      <div class='large-1 columns left'>
        <button type="submit" class="button tiny radius">Submit</button>
      </div>
    </div>

  </div>
</form>
