<form id="form_id" action="/income" method="post">
  <div class='row'>
    <div class='large-4 columns'>
      <input value="{{name_arb}}" type="text" name="{{name_arb}}" id="name_arb" placeholder="Name Arb" />
    </div>
    <div class='large-4 columns'>
      <input value="{{ein}}" type="text" name="{{ein}}" id="ein" placeholder="Ein" />
    </div>
    <div class='large-4 columns left'>
      <button type="submit" class="button tiny radius" id='save_income'>Submit</button>
    </div>
  </div>
</form>
