
.row.panel
  %h3 Grundeinstellungen
  = form_for @template do |f|
    - if @template.errors.any?
      #error_explanation
        %h2= "#{pluralize(@template.errors.count, "error")} prohibited this template from being saved:"
        %ul
          - @template.errors.full_messages.each do |msg|
            %li= msg
    .large-2.columns
      = f.label :bank
      = f.text_field :bank
    .large-2.columns
      = f.label :account_name
      = f.text_field :account_name
    .large-2.columns
      = f.label :start_amount
      = f.text_field :start_amount
    .large-2.columns
      = f.label :from_date
      = f.text_field :from_date, placeholder: '24/08/2014'
    .large-2.columns
      = f.label :to_date
      = f.text_field :to_date, placeholder: '26/08/2014'
    .large-2.columns
      = f.submit 'Save', class: 'button small'


.row
  .large-12.columns
    #header
    #content


= javascript_tag do
  App.initialize();
