.row
  .large-12.columns
    %h1 Editing template

= render 'form'

#gethis
  %select#list_item.height_auto{:name => "list_item", :size => "4"}
    - MerchantPer.all.each_with_index do |hotel, index|
      - if index == 1
        %option{selected: "true"}
          = hotel.name
      - else
        %option
          = hotel.name

= link_to 'Show', @template
\|
= link_to 'Back', templates_path
