%h1 Listing templates

%table
  %tr
    %th Bank
    %th Account name
    %th Start amount
    %th From date
    %th To date
    %th
    %th
    %th

  - @templates.each do |template|
    %tr
      %td= template.bank
      %td= template.account_name
      %td= template.start_amount
      %td= template.from_date
      %td= template.to_date
      %td= link_to 'Show', template
      %td= link_to 'Edit', edit_template_path(template)
      %td= link_to 'Destroy', template, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Template', new_template_path
