%p#notice= notice

%p
  %b Bank:
  = @template.bank
%p
  %b Account name:
  = @template.account_name
%p
  %b Start amount:
  = @template.start_amount
%p
  %b From date:
  = @template.from_date
%p
  %b To date:
  = @template.to_date


= @list.each do |l|
  = l.name_arb + ' ' + l.ein
  %br

= link_to 'Edit', edit_template_path(@template)
\|
= link_to 'Back', templates_path
\|
= link_to 'Download your file', download_path + '.sta'

= @file_url
