= form_for @merchant_per do |f|
  - if @merchant_per.errors.any?
    #error_explanation
      %h2= "#{pluralize(@merchant_per.errors.count, "error")} prohibited this merchant_per from being saved:"
      %ul
        - @merchant_per.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
