%h1 Listing merchant_pers
= Rails.env
%table
  %tr
    %th Name
    %th
    %th
    %th

  - @merchant_pers.each do |merchant_per|
    %tr
      %td= merchant_per.name
      %td= link_to 'Show', merchant_per
      %td= link_to 'Edit', edit_merchant_per_path(merchant_per)
      %td= link_to 'Destroy', merchant_per, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Merchant per', new_merchant_per_path
